:root {
    --primary-color: #684d2cff;
    /* Kobicha */
    --secondary-color: #3d2c1aff;
    /* Bistre */
    --secondary-color2: #34251bff;
    /* Bistre2 */
    --accent-color: #cf9e51;
    /* Earth Yellow */
    --white: #fefefeff;
    /* White */
    --quote-background: #eed5ad;
}

/* :root {
    --background-color: #cf9e51ff;
    Earth Yellow
    --primary-color: #684d2cff;
    Kobicha
    --secondary-color: #3d2c1aff;
    Bistre
    --secondary-color2: #34251bff;
    Bistre2
    --accent-color: #fefefeff;
    White
} */
html {
    scroll-padding-top: 5rem;
    font-family: Arial, Helvetica, sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

button {
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 15px;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
}

body {
    background-color: var(--white);
    /* color: var(--accent-color); */
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    padding: 5px 100px;
    padding-top: 0;
    font-size: 23px;
    background-color: var(--accent-color);
}

/* ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
    align-items: center;
} */
nav {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: var(--secondary-color2);
    padding: 10px;
    transition: background-color 0.3s ease;
    /* Smooth transition effect */
}

nav a:hover {
    background-color: var(--primary-color);
    /* New background color on hover */
    color: var(--white);
    cursor: pointer;
}

/* hr {
    border: 1px solid var(--primary-color);
} */

.hero {
    display: flex;
    background-color: var(--accent-color);
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.hero-wrapper {
    width: 40%;
}

.hero h1 {
    font-size: 48px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

.hero p {
    padding: 20px 50px 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
    /* font-weight: bolder; */
}

.buffest {
    font-weight: 600;
    font-style: italic;
    /* background-color: red; */
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    /* background-color: var(--primary-color); */

}

.section2 {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
    text-transform: uppercase;
    text-align: center;
}

.section2 h2 {
    text-decoration: underline;
    color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
}

.features-wrap {
    /* border: 1px solid red; */
    display: flex;
    text-decoration: none;
    justify-content: center;
    /* align-items: center; */
    gap: 20px;
    font-weight: 600;
    color: var(--secondary-color)
}

.features-wrap img {
    width: 355px
}

.features-wrap figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 2px solid var(--accent-color);
}

.features-wrap figcaption {
    width: 300px;
    text-align: center;
}

.section3 {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--quote-background);
    font-size: 36px;
    font-style: italic;
}
.section3 figure {
    padding: 10px;
}

.section3 figure {
    width: 50%;
}

.section3 figcaption {
    font-size: 25px;
    padding-left: 300px;
    text-align: center;
}
.section4 {
    height: 50vh;
    background-color: var(--white);
    /* border: 1px solid red;  */

}